body {
    background-color: rgb(143, 143, 143);
}

.App {
    text-align: center;
    padding: 50px;
    max-width: 1200px;
}

ul {
    list-style: none;
}

ul li {
    padding: 10px;
    background-color: rgb(216, 216, 216);
}

.deleter {
    color: red;
    cursor: pointer;
}

input:checked + span {
    text-decoration: line-through;
}